body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}
header {
  background-color: #ffffff;
  color: #1f2937;
  padding: 20px;
  text-align: center;
}
main {
  padding: 20px;
}

/* h1,
h2 {
  color: #1f2937;
} */

.content {
  display: flex;
  max-width: 1000px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
  justify-content: space-around;
}
.content-item {
  display: flex;
  padding: 20px;
  background: white;
  border: 0.5px solid #ddd;
  border-radius: 2px;
}
/* .content-item:hover {
  transform: scale(1.02);
} */
.content-item img {
  width: 50%;
}
.description {
  padding: 15px;
  width: 50%;
}
.description h3 {
  margin-top: 0;
}
.description p {
  color: #666;
  font-size: 14px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  color: #1f2937;
  margin-top: 20px;
}

/* Components  */

.btn-group {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  border-top: 1px solid #ddd;
}

.btn-primary {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #1f2937;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}
.btn-primary:hover {
  background-color: #374151;
}

.btn-secondary {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #ffffff;
  color: #1f2937;
  border: 1px solid #1f2937;
  text-decoration: none;
  border-radius: 4px;
}
.btn-secondary:hover {
  background-color: #cccccc;
}
